<div class="row">

    <div class="col-6">

        <input [(ngModel)]="searchText" type="text" class="form-control" placeh older="Type to filter">

    </div>

</div>

<hr>

<table class="table table-striped" *ngIf='estampillas && estampillas.length'>

    <thead>
        <tr>
            <th scope="col">Numero De Contrato </th>
            <th scope="col">Objeto Del Contrato </th>
            <th scope="col">Valor Del Contrato </th>
            <th scope="col">Apoya Covid-19</th>
            <th scope="col">Valor Estampilla</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let estampilla of estampillas; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ estampilla.nContrato }} </td>
            <td>{{ estampilla.objContrato }}</td>
            <td>{{ estampilla.vContrato }}</td>
            <td>{{ estampilla.apoyaCovid19 }}</td>
            <td>{{ estampilla.vEstampilla }}</td>

        </tr>
    </tbody>
</table>
